/* Base ------------------------------ */

*:not(br):not(tr):not(html) {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  line-height: 1.4;
  -webkit-text-size-adjust: none;
}

p, ul, ol, blockquote {
  line-height: 1.4;
  text-align: left;
}

a {
  color: $c-blue;

  img {
    border: none;
  }
}

td {
  word-break: break-word;
}
