/* Base ------------------------------ */

*:not(br):not(tr):not(html) {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  line-height: 1.4;
  background-color: $c-gray-light;
  color: $c-slate;
  -webkit-text-size-adjust: none;
}
a {
  color: $c-blue;
}
