/* Buttons ------------------------------ */

$b-v-padding: 10px;
$b-h-padding: 18px;

@mixin button-fill($bg: $c-blue) {
  background-color: $bg;
  border-top: $b-v-padding solid $bg;
  border-right: $b-h-padding solid $bg;
  border-bottom: $b-v-padding solid $bg;
  border-left: $b-h-padding solid $bg;
}

.button {
  @include button-fill();

  display: inline-block;
  color: #FFF;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.16);
  -webkit-text-size-adjust: none;

  &--green {
    @include button-fill($c-green);
  }
  &--red {
    @include button-fill($c-red);
  }
}
