$c-gray-900:        #333333;
$c-gray-800:        #454545;
$c-gray-700:        #4F4F4F;
$c-gray-600:        #595959;
$c-gray-500:        #616161;
$c-gray-400:        #797979;
$c-gray-300:        #909090;
$c-gray-200:        #B0B0B0;
$c-gray-100:        #D0D0D0;
$c-gray-50:         #F2F4F6;

$c-slate-900:       #272931;
$c-slate-800:       #373A42;
$c-slate-700:       #40434C;
$c-slate-600:       #4A4D56;
$c-slate-500:       #51545E;
$c-slate-400:       #6B6E76;
$c-slate-300:       #85878E;
$c-slate-200:       #A8AAAF;
$c-slate-100:       #CBCCCF;
$c-slate-50:        #EAEAEC;
$c-slate-40:        #F4F4F7;

$c-blue:            #3869D4;
$c-green:           #22BC66;
$c-red:             #FF6136;
