/* Layout ------------------------------ */

.email-wrapper {
  @include table-scale();
  background-color: $c-gray-light;
}
.email-content {
  @include table-scale();
}


/* Masthead ----------------------- */

.email-masthead {
  padding: 25px 0;
  text-align: center;

  &_logo {
    width: 94px;
  }
  &_name {
    font-size: 16px;
    font-weight: bold;
    color: $c-slate-alt;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
  }
}


/* Body ------------------------------ */

.email-body {
  @include table-scale();
  border-top: 1px solid $c-slate-lighter;
  border-bottom: 1px solid $c-slate-lighter;
  background-color: #FFFFFF;

  &_inner {
    @include table-scale($width: 570px, $margin: 0 auto);
    background-color: #FFFFFF;
  }
}

.email-footer {
  @include table-scale($width: 570px, $margin: 0 auto);
  text-align: center;

  p {
    color: $c-gray;
  }
}

.body-action {
  @include table-scale($margin: 30px auto);
  text-align: center;
}
.body-sub {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid $c-slate-lighter;
}
.content-cell {
  padding: 35px;
}
.preheader {
  display: none !important;
  visibility: hidden;
  mso-hide: all;
  font-size: 1px;
  color: #ffffff;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

/* Attribute list ------------------------------ */

.attributes {
  margin: 0 0 21px;

  &_content {
    background-color: $c-slate-lighter;
    padding: 16px;
  }
  &_item {
    padding: 0;
  }
}

/* Related Items ------------------------------ */

.related {
  @include table-scale($padding: 25px 0 0 0);

  // Items
  &_item {
    padding: 10px 0;
    color: $c-slate;
    font-size: 15px;
    line-height: 18px;
  }
  &_item-title {
    display: block;
    margin: .5em 0 0;
  }
  &_item-thumb {
    display: block;
    padding-bottom: 10px;
  }

  &_heading {
    border-top: 1px solid $c-slate-lighter;
    text-align: center;
    padding: 25px 0 10px;
  }
}

/* Discount Code ------------------------------ */

.discount {
  @include table-scale($padding: 24px);

  background-color: $c-slate-lighter;
  border: 2px dashed $c-slate-light;

  &_heading {
    text-align: center;
  }
  &_body {
    text-align: center;
    font-size: 15px;
  }
}

/* Social Icons ------------------------------ */

.social {
  width: auto;

  td {
    padding: 0;
    width: auto;
  }
  &_icon {
    height: 20px;
    margin: 0 8px 10px 8px;
    padding: 0;
  }
}


/* Data table ------------------------------ */

.purchase {
  @include table-scale($padding: 35px 0);

  &_content {
    @include table-scale($padding: 25px 0 0 0);
  }

  // Items
  &_item {
    padding: 10px 0;
    color: $c-slate;
    font-size: 15px;
    line-height: 18px;
  }

  // Headings
  &_heading {
    padding-bottom: 8px;
    border-bottom: 1px solid $c-slate-lighter;

    p {
      margin: 0;
      color: $c-slate-light;
      font-size: 12px;
    }
  }

  // Footer
  &_footer {
    padding-top: 15px;
    border-top: 1px solid $c-slate-lighter;
  }

  &_total {
    margin: 0;
    text-align: right;
    font-weight: bold;
    color: $c-gray-dark;

    &--label {
      padding: 0 15px 0 0;
    }
  }
}

/* Utilities ------------------------------ */

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}


/*Media Queries ------------------------------ */
// TODO: create a mixin for media queries instead

@media only screen and (max-width: 600px) {
  .email-body_inner,
  .email-footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
