/* Layout ------------------------------ */

.email-wrapper {
  @include table-scale();
  background-color: $c-gray-light;
}
.email-content {
  @include table-scale();
}


/* Masthead ----------------------- */

.email-masthead {
  padding: 25px 0;
  text-align: center;

  &_logo {
    width: 94px;
  }
  &_name {
    font-size: 16px;
    font-weight: bold;
    color: $c-slate-alt;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
  }
}


/* Body ------------------------------ */

.email-body {
  @include table-scale();
  border-top: 1px solid $c-slate-lighter;
  border-bottom: 1px solid $c-slate-lighter;
  background-color: #FFF;

  &_inner {
    @include table-scale($width: 570px, $margin: 0 auto);
  }
}

.email-footer {
  @include table-scale($width: 570px, $margin: 0 auto);
  text-align: center;

  p {
    color: $c-gray;
  }
}

.body-action {
  @include table-scale($margin: 30px auto);
  text-align: center;
}
.body-sub {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid $c-slate-lighter;
}
.content-cell {
  padding: 35px;
}
.preheader {
  display: none !important;
}

/* Attribute list ------------------------------ */

.attribute-list {
  background-color: $c-slate-lighter;
  display: block;
  list-style-type: none;
  margin: 0 0 21px;
  padding: 16px;
  li {

  }
}

/* Option list ------------------------------ */

.option-list {
  background-color: $c-slate-lighter;
  display: block;
  list-style-type: none;
  margin: 0 0 21px;
  padding: 16px 16px 1px 16px;
  li {
    list-style-type: disc;
    display: block;
    margin-bottom: 16px;
  }
}


/* Data table ------------------------------ */

.purchase-wrapper {
  @include table-scale($padding: 35px 0);
}
.purchase-table {
  @include table-scale($padding: 25px 0 0 0);

  th {
    padding-bottom: 8px;
    border-bottom: 1px solid $c-slate-lighter;

    p {
      margin: 0;
      color: $c-slate-light;
      font-size: 12px;
    }
  }
  td {
    padding: 10px 0;
    color: $c-slate;
    font-size: 15px;
    line-height: 18px;
  }
}

.total-cell {
  padding-top: 15px;
  border-top: 1px solid $c-slate-lighter;

  p {
    margin: 0;
    text-align: right;
    font-weight: bold;
    color: $c-gray-dark;
  }
  &_label {
    padding: 0 15px 0 0;
  }
}


/* Utilities ------------------------------ */

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}


/*Media Queries ------------------------------ */
// TODO: create a mixin for media queries instead

@media only screen and (max-width: 600px) {
  .email-body_inner,
  .email-footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
