@mixin table-scale($width:100%, $cellpadding: 0, $cellspacing: 0, $padding: 0, $margin: 0) {
  width: $width;
  //-premailer-width: $width;
  margin: $margin;
  padding: $padding;
  // -premailer-cellpadding: $cellpadding;
  // -premailer-cellspacing: $cellspacing;
}


@mixin heading($size: 19px) {
  margin-top: 0;
  color: $c-gray-dark;
  font-size: $size;
  font-weight: bold;
  text-align: left;
}
