/* Type ------------------------------ */

h1 {
  @include heading();
}
h2 {
  @include heading($size: 16px);
}
h3 {
  @include heading($size: 14px);
}
p {
  margin: .4em 0 1.1875em;
  font-size: 16px;
  line-height: 1.625;
  text-align: left;
}
p.sub {
  font-size: 12px;
}
p.center {
  text-align: center;
}