/* Utilities ------------------------------ */

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}
