$c-gray-light:      #F2F4F6;
$c-gray:            #AEAEAE;
$c-gray-alt:        #999;
$c-gray-dark:       #2F3133;

$c-indigo-light:    #6451E5;
$c-indigo:          #4C38D4;
$c-slate-lighter:   #EDEFF2;
$c-slate-light:     #9BA2AB;
$c-slate:           #74787E;
$c-slate-alt:       #bbbfc3;
$c-green:           #22BC66;
$c-green-dark:      #0E9248;
$c-red:             #FF6136;
$c-red-dark:        #D54923;
$c-blue:            #3869D4;
