<!-- Sub copy -->
<table class="body-sub">
  <tr>
    <td>
      <p class="sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
      <p class="sub"><a href="{{action_url}}">\{{action_url}}</a></p>
    </td>
  </tr>
</table>