<div>
  <!--[if mso]>
    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="&#123;&#123;action_url&#125;&#125;" style="height:45px;v-text-anchor:middle;width:200px;" arcsize="7%" stroke="f" fill="t">
      <v:fill type="tile" color="#22BC66" />
      <w:anchorlock/>
      <center style="color:#ffffff;font-family:sans-serif;font-size:15px;">{{label}}</center>
    </v:roundrect>
  <![endif]-->
  <a href="{{target}}" class="button button--{{color}}">{{label}}</a>
</div>