<div>
  <!--[if mso]>
    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="\{{action_url}}" style="height:45px;v-text-anchor:middle;width:200px;" arcsize="7%" stroke="f" fill="t" fillcolor="#556270">
    <w:anchorlock/>
      <center>
  <![endif]-->
        <a href="{{ target_url }}" class="button button--{{color}}">{{label}}
  <!--[if mso]>
    </center>
  </v:roundrect>
<![endif]-->
</div>