<!-- Sub copy -->
<table class="body-sub" role="presentation">
  <tr>
    <td>
      <p class="f-fallback sub">If you’re having trouble with the button above, copy and paste the URL below into your web browser.</p>
      <p class="f-fallback sub">\{{action_url}}</p>
    </td>
  </tr>
</table>