<!-- Border based button
     https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <img src="https://image-charts.com/chart?{{parameter}}" />
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
