<!-- Discount -->
<table class="body-discount" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <div class="discount-container">
        <h1>10% off your next purchase</h1>
        <p>Thanks for your support! As one of our favorite customers, we made up this extra special discount code for your next purchase if used by \{{expiration_date}}.</p>
        <a href="\{{ discount_url }}" class="discount-code">random_string_of_text</a>
        {{> button color="green" label="Use this discount now..." target_url="\{{discount_url}}" }}
      </div>
    </td>
  </tr>
</table>