<tr>
  <td>
    <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-cell">
          <p class="sub center">&copy; 2016 {{product_name }}. All rights reserved.</p>
          <p class="sub center">
            {{formal_name }}
            {{#if address_line_1 }}
            <br>{{address_line_1 }}
            {{/if}}
            {{#if address_line_2 }}
            <br>{{address_line_2 }}
            {{/if}}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>