<table class="related-wrapper" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td class="related-heading" align="center" colspan="2">
      <h2>You may also like...</h2>
    </td>
  </tr>
  <tr>
    <td class="related-item" align="center">
      <a href="#">
        <img src="{{ images_url }}related_placeholder.png" width="180">
        <strong>Related Item #1</strong>
      </a>
    </td>
    <td class="related-item" align="center">
      <a href="#">
        <img src="{{ images_url }}related_placeholder.png" width="180">
        <strong>Related Item #2</strong>
      </a>
    </td>
  </tr>
</table>